body{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(155deg , #828ed8 0%, #3cc993 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

header{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-shadow:0px 7px rgb(0, 0, 0, 0.4);
   
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn{

    display: inline-block;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    font-weight: 300;
    background: rgb(255, 255, 255, 0.2);
    padding: 5px 20px;
    letter-spacing: 2px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    cursor: pointer;

}

.btn:hover{
    transform: translateY(-5px);
}

.btn:active{
    transform: translateY(0);
}

.card{  

    font-size: 25px;
    text-shadow:0px 2px rgb(0, 0, 0, 0.4);
    justify-content: center;
    margin-bottom: 20px;

}

input::placeholder {

    font-weight: bold;
    opacity: 0.5;
    width: 60px;  
    height: 55px;   
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 5px;
    
}

input[type="text"]{
    flex: 1;
    padding: 12px 17px;
    border: 2px solid #f7f3f380;
    

}

.container {
max-width: 800px;
padding: 40px 20px;
animation: fadeIn 1s ease-in;
}