body{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(155deg , #8695f5 0%, #9ee5ec 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

h1{
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-shadow:0px 7px rgb(0, 0, 0, 0.4);
   
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn{

    display: inline-block;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    font-weight: 300;
    background: rgb(255, 255, 255, 0.2);
    padding: 5px 20px;
    letter-spacing: 2px;
    border-radius: 20px;
    backdrop-filter: blur(10px);

}

.fatosGatos{  

    font-size: 25px;
    text-shadow:0px 2px rgb(0, 0, 0, 0.4);
    justify-content: center;
    margin-bottom: 20px;

}

.cep{

    font-size: 25px;
    text-shadow:0px 2px rgb(0, 0, 0, 0.4);
    justify-content: center;
    margin-bottom: 20px;

}

input::placeholder {
    
    font-weight: bold;
    opacity: 0.5;
    width: 60px;  
    height: 25px;   
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 5px;
    
}