<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Página Consultas de API</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    
</head>
<body>
    <div>
    <h1>Consultor de API</h1>
    </div>
    <div>
    <p class="fatosGatos">Fatos-Gatos <button class="btn"> Click Aqui!</button></p>
    <p class="cep">CEP: <input type="text" name="cep" size="5" maxlength="5"> - <input type="text" name="cep2" size="3" maxlength="3"> <button class="btn"> Buscar!</button></p>
    </div>
</body>
</html>