<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Página Consultas de API</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    
</head>
<body>
    <div class="container">
    <header>
    <h1>Consultor de API</h1>
    </header>
    <div class="card">
    <p>Fatos-Gatos <button class="btn"> Click Aqui!</button></p>
    </div>
    <div class="card">
    <p>CEP: <input type="text" name="cep" size="5" maxlength="5" placeholder="00000"> - <input type="text" name="cep2" size="3" maxlength="3" placeholder="000"> <button class="btn"> Buscar!</button></p>
    </div>

    </div>
</body>
</html>